* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    border: 1px solid #2e80ce;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Header */

.header {
    height: 100vh;
    background: #10375c;
    padding: 36px 0 110px;
}

.logo {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    color: #ffffff;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.17em;
}
/* navbar */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    position: relative;
}

.nav__link,
.nav__login {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}

.nav__link--circle {
    font-weight: 400;
    color: #ffffff;
}

.nav__link--circle::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    left: 5px;
    top: 4.5px;
}

.nav__link:hover,
.nav__link--circle {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.nav__action {
    margin-left: 201px;
}

.nav__btn {
    margin-left: 7px;
    min-width: 104px;
    padding: 7px 20px;
}

/* Hero */
.hero {
    display: flex;
    margin-top: 83px;
}

.hero__info {
    margin-top: 60px;
    width: 44%;
}

.hero__title {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__cta {
    margin-top: 38px;
}

.hero__phone-number {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
}

.hero__images {
    margin-left: 113px;
    position: relative;
}

.hero__img--after .hero__img {
    position: absolute;
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--before .hero__img {
    position: absolute;
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
    left: 324px;
    top: 65px;
}

/* Services */

.services {
    padding: 170px 0;
}

.service__info {
    display: flex;
    justify-content: center;
}

.service__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #10375c;
}

.service__desc {
    width: 40%;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.service__row {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-top: 35px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #2e80ce;
    color: #ffffff;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    width: 351px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.service-item__btn {
    margin-top: 55px;
}

/* Work */

.work {
    padding: 100px 0;
    background: #f7fbff;
}

.work__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.work__desc {
    width: 468px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.work__list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.work-item {
    height: 402px;
    padding: 45px;
    border: 16px solid #eaf6ff;
    background: #ffffff;
    border-radius: 4px;
    flex: 1;
}

.work-item:hover {
    margin-top: -16px;
    border-color: #2e80ce;
    transition: 0.25s;
}

.work-item__title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
}

.work-item__desc,
.work-item__cta {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__cta {
    display: inline-block;
    margin-top: 18px;
}

.work-item:hover .work-item__cta {
    color: #2e80ce;
    transition: 0.25s;
}

/* feature */

.feature__body {
    display: flex;
    margin-top: 85px;
    padding: 85px 0px;
}

.feature__media {
    position: relative;
    width: 48%;
}

.feature__img--below {
    position: absolute;
    width: 512px;
    height: 370px;
    object-fit: cover;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
}

.feature__img--above {
    position: absolute;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    left: 238px;
    top: 121px;
}

.feature__info {
    width: 52%;
    margin-top: 82px;
    margin-left: 188px;
}

.feature__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.feature__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.feature__btn {
    margin-top: 38px;
}

/* Doctor */

.doctor {
    padding: 85px 0;
}

.doctor__body {
    margin-top: 85px;
    text-align: center;
}

.doctor__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375c;
}

.doctor__btn {
    margin-top: 38px;
}

.doctor__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.doctor-item:hover .member-item__img {
    transform: scale(1.1);
}

.doctor-item__img--bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__img {
    max-width: 100%;
    height: 290px;
    display: block;
    object-fit: cover;
    transition: 0.25s;
}

.doctor-item__name {
    text-align: center;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}

.doctor-item__title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #575f66;
}

.control {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    outline: none;
    color: #575f66;
    background: #fff;
}

.control-btn:hover {
    cursor: pointer;
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
    transition: 0.25s;
}

.control-icon--previous {
    rotate: 180deg;
}

/* Install */

.install {
    padding: 85px 0;
}

.install__inner {
    padding: 0 70px;
    height: 427px;
    border-radius: 4px;
    display: flex;
    background: #2e80ce;
}

.install__img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}

.install__info {
    width: 50%;
    margin-top: 76px;
    margin-left: auto;
}

.install__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.install__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.install__platform {
    display: flex;
    margin-top: 38px;
    gap: 28px;
}

/* news */

.news {
    padding: 85px 0;
}

.news__body {
    display: flex;
}

.news__info {
    margin-top: 68px;
    width: 40%;
}

.news__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.news__cta {
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #10375c;
}

.news__control {
    display: flex;
    justify-content: flex-start;
    margin-top: 28px;
    margin-right: auto;
}

.news__list {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.news-item {
    width: 270px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
    transform: translateY(-16px);
}

.news-item__cta:hover {
    color: #2e80ce;
    cursor: pointer;
}

.news-item:hover .news-item__img {
    transform: scale(1.01);
    transition: 0.25s;
}

.news-item__img {
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.news-item__body {
    padding: 0 22px;
}

.news-item__title {
    margin-top: 18px;
    font-weight: 600;
    font-size: 1.6re;
    line-height: 1.62;
    color: #10375c;
}

.news-item__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}

.news-item__cta {
    display: block;
    margin-bottom: 21px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #10375c;
}

/* appointment */

.appointment {
    padding: 85px 0;
}

.appointment__body {
    padding: 100px 0;
    background: #f7fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointment__title {
    position: relative;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.appointment__title::after {
    content: "";
    position: absolute;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    left: 330px;
    bottom: -18px;
}

.appointment__desc {
    width: 617px;
    text-align: center;
    margin-top: 36px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.appointment__btn {
    margin-top: 38px;
}

/* footer */

.footer {
    margin-top: 85px;
    padding: 100px 0 42px;
    background: #10375c;
    font-family: "Open Sans", sans-serif;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    column-gap: 78px;
}

.footer__column:first-child,
.footer__column:first-child {
    width: 40%;
}

.footer__desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer__title--after {
    margin-top: 28px;
}

.footer__list li {
    margin-top: 10px;
    width: 134px;
}

.footer__list li:first-child {
    margin-top: 20px;
}

.footer__list--3 {
    gap: 0 14px;
}

.footer__list a {
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
}

.footer__cta {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
}

.footer__media {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}

.footer__contain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border-radius: 50%;
}

.footer__contain:first-child {
    background: #2e80ce;
}

.footer__search {
    margin-top: 10px;
    display: flex;
    column-gap: 12px;
}

.footer__btn {
    min-width: 108px;
    border-radius: 4px;
}

.footer__separate {
    margin-top: 28px;
    width: 1170px;
    height: 1.2px;
    background: #406181;
}

.footer__ending {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: #aab3ba;
}
